<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JPAVideoStore/src/com/skilldistillery/jpavideostore/client/RelationshipCRUDClient.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.buildship.core.classpathprovider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.skilldistillery.jpavideostore.client.RelationshipCRUDClient"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JPAVideoStore"/>
</launchConfiguration>
